@media only screen and (max-width: 1024px){
    .container-reg{
        width:40%;
    }
    .container-log{
        width:40%;
    }
    .container-g{
        width:48%;
    }
    .container-d{
        width:45%;
    }
}
@media only screen and (max-width: 769px){
.container-reg {
    width: 55%;
}
.container-log{
    width:50%;
}
.container-g{
    width:70%;
}
.container-d{
    width:60%;
}
}
@media only screen and (max-width: 426px){
    .container-reg {
        width: 94%;
    }
    .container-log {
        width: 91%;
    }
    .container-g {
        width: 94%;
    }
    div#word input {
        font-size: 20px;
    }
    .container-d {
        width: 93%;
    }
}
