*{
box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;;
}
.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
background-image: url(/images/pexels-felix-mittermeier-956999.jpg);
background-repeat: no-repeat;
background-size: cover
}
.containerReg{
    background-color: #1e2e42;
    padding: 25px;
    width: 25%;
    border-radius: 18px;
    box-shadow: 0px 0px 20px white;
}
.heading h1{
    margin: 0;
    color: white;
}
.input{
    margin-top: 20px;
}
.input label{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.input input{
    padding: 7px;
    width: 100%;
    border-radius: 7px;
    border: none;
    margin-top: 12px;
    color: black;
}
.button{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.button button{
    padding: 7px;
    width: 40%;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #1e2e42;
    box-shadow: 0px 0px 6px white;
    border-radius: 18px;
    transition: 0.2s all;
}
.button button:active{
    transform: scale(0.8);
}
.button button:hover{
    cursor: pointer;
}

.input p{
    color: red;
    margin: 0;
    font-size: 15px;
}
.containerLog{
    display: none;
    background-color: #1e2e42;
    padding: 25px;
    width: 25%;
    border-radius: 18px;
    box-shadow: 0px 0px 20px white;
}
.containerG{
    width: 32%;
    display: none;
    background-color: #1e2e42;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px white;
}
.heading{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
label#guessRemaing {
    font-size: 18px;
    color:white;
}
.inputGuess{
    width: 100%;
    font-size: 35px;
    letter-spacing: 25px;
}
.inputGuess label{
    font-size: 20px;
}
#next{
    display: none;
}
.border{
    border: 1px groove white;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 35px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    margin-top: 23px;

}
.icons:hover{
    cursor: pointer;
}
.icons .insta{
    margin-left:12px;
    color:#aa13c5;
}
.icons .pin{
    margin-left:12px;
    color: #da0021;
}
.letter{
    width: 5%;
}
div#word {
    display: flex;
    color: white;
}
div#word input{
    border: none;
    background-color: #1e2e42;
font-size: 25px;
}
.facebook{
    color: #0672dc;
}
.containerD{
    display: none;
    background-color: #1e2e42;
    width: 35%;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px white;
}
.score{font-size: 28px;
    font-weight: 700;}
.scoreDisplay{
    margin-top: 20px;
    font-size: 25px;
}
.attemptDisplay{
    margin-top: 20px;
    font-size: 20px;
}
label#atempt1,label#atempt2,label#atempt,label#score  {
    font-size: 23px;
    font-weight: 700;
    color:white;
}
.letter input {
    color: white;
}   
label#name,label  {
    color: white;
}
